
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 109vh;
    
  
}

html, body{
    height: 100%;
    /*background: linear-gradient(to top right, #a5b05e,#a76fd0, #5eb4c0, #d46bc1);*/

}



nav{
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5)
}

nav ul{
    position: relative;
    list-style-type: none;
}

nav ul .l {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.85em;
    text-decoration: none;
    text-transform: capitalize;
    color:tomato ;
    padding: 10px 30px;
    height: 50px;
    transition: 5s ease;
    border-radius: 0 30px;
}


nav ul li a{
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #39107B;
    padding: 30px 30px;
    height: 50px;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: #39107B;
    color: #000;


}

nav ul ul{
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: #1976d2;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
nav ul ul li ul{
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: #2196f3;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

nav ul  span{
    position: absolute;
    right: 20px;
    font-size: 1.5em;

}

nav ul .dropdown{
    position: relative;
}

nav ul .dropdown:hover > ul{
    display:initial;
}

nav ul .dropdown_two ul{
    position: absolute;
    left: 200px;
    top: 0;
}

nav ul .dropdown_two:hover > ul{
    display: initial;
}

nav ul .pu1 ul{
    top: 0px;
}
nav ul .pu2 ul{
    top: 50px;
}
nav ul .pu3 ul{
    top: 100px;
}
nav ul .pu4 ul{
    top: 150px;
}
nav ul .pu5 ul{
    top: 220px;
}
nav ul .pu6 ul{
    top: 270px;
}
nav ul .pu7 ul{
    top: 330px;
}
nav ul .pu8 ul{
    top: 400px;
}
nav ul .pu9 ul{
    top: 450px;
}
nav ul .pu10 ul{
    top: 550px;
}
nav ul .pu11 ul{
    top: 600px;
}
nav ul .put10 ul{
    top: 500px;
}
nav ul .put11 ul{
    top: 400px;
}


nav ul .cu1 ul{
    top: 0px;
}
nav ul .cu2 ul{
    top: 50px;
}
nav ul .cu3 ul{
    top: 100px;
}
nav ul .cu4 ul{
    top: 170px;
}
nav ul .cu5 ul{
    top: 250px;
}
nav ul .cu6 ul{
    top: 300px;
}
nav ul .cu7 ul{
    top: 350px;
}
nav ul .cu8 ul{
    top: 400px;
}
nav ul .bu1 ul{
    top: 0px;
}
nav ul .bu2 ul{
    top: 50px;
}
nav ul .bu3 ul{
    top: 100px;
}
nav ul .bu4 ul{
    top: 170px;
}
nav ul .bu5 ul{
    top: 250px;
}
nav ul .bu6 ul{
    top: 300px;
}
nav ul .eu1 ul{
    top: 0px;
}
nav ul .eu2 ul{
    top: 50px;
}
nav ul .eu3 ul{
    top: 130px;
}
nav ul .eu4 ul{
    top: 180px;
}
nav ul .eu5 ul{
    top: 250px;
}
nav ul .e1 ul{
    top: 0px;
}
nav ul .e2 ul{
    top: 50px;
}
nav ul .e3 ul{
    top: 130px;
}
nav ul .e4 ul{
    top: 180px;
}
nav ul .e5 ul{
    top: 250px;
}
nav ul .t1 ul,nav ul .e1 ul{
    top: 0px;
}
nav ul .t2 ul,nav ul .e2 ul{
    top: 0px;
}
nav ul .bu3 .pu2 ul,nav ul .bu3 .pu1 ul{
    top: 30px;
}
nav ul .e3 ul{
    top:-150px;
}
nav ul .t4 ul{
    top: 0px;
}
nav ul .e4 ul{
    top:-100px;
}
nav ul .t5 ul,nav ul .e5 ul{
    top: 0px;
}
nav ul .t6 ul,nav ul .e6 ul{
    top: 0px;
}
nav ul .t7 ul{
    top: 0px;
}
nav ul .e7 ul{
    top:-150px;
}
nav ul .t8 ul,nav ul .e8 ul{
    top: 0px;
}
nav ul .t9 ul{
    top: 0px;
}
nav ul .e9 ul{
    top:-180px;
}
nav ul .t10 ul{
    top:0px;
}
.menu{
   
   
    position: absolute;
    bottom:10px;
    top: 100px;
    left: 1070px;
    border-radius: 10px;
    padding: 25px;

}

.btn{
    width: 240px;
    height: 80px;
    background: linear-gradient(to top,rgba(174, 99, 255, 0.5)50%,rgba(169, 99, 255, 0.5)50%);;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    font-style: italic ;
}

.btn:hover{
    background: #ff33ee;
    color: #5500ff;
}

.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
    .les1{
        width: 550px;
        float: left;
        height: 70px;
    }

  .les1 .sub{
        padding-top: 50px;
        padding-left:330px;
        color:#7733ff;
        font-size: 25px;
    }
    
    .les1 .list{
       
        padding-top: 2px;
        padding-left:240px;
      
    }

     .les2{
        width: 350px;
        float: left;
        height: 70px;
    }
  

      .les2 .sub{
        padding-top: 50px;
        padding-left:50px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les2 .list{
       
        padding-top: 2px;
        padding-left:0px;
      
    }


    .list li{
        list-style: none;
        margin-left: 50px;
        margin-top: 20px;
        font-size: 15px;
        padding-top: 5px;
        text-decoration: none;
        color:#000;
        font-family: Arial;
        font-weight: bold;
    }

   .les3 .sub{
        padding-top: 50px;
        padding-left:900px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les3 .list{
       
        padding-top: 2px;
        padding-left:820px;
      
    }


    .les4 .sub{
        padding-top: 30px;
        padding-left:890px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les4 .list{
       
        padding-top: 2px;
        padding-left:820px;
      
    }
   @media  screen and (max-width: 700px){
       
      
    .main{
        width: 400%;
        background-position: left;
        background-size: 100% 100%;
        background-attachment: fixed;
        height: 1000vh;
        
      
    }

    nav{
        width: 250px;
        height:2500px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.1);
        border-radius: 10px;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5)
    }
   

    nav ul li a{
        
        height: 150px;
        
    }
    nav ul .dropdown{
        font-size:20px;
    }
 
    .les3 .sub{
        padding-left:900px;
        padding-top: 1100px;
        font-size: 80px;
    }
    
    .les3 .list{
       
        padding-top:50px;
        padding-left:880px;
       
       
      
    }


    .les4 .sub{
        padding-top:20px;
        padding-left:300px;
        font-size: 80px;
      
       
        
    }
    
    .les4 .list{
       
        
        padding-left:230px;
      
    }
    .btn{
        width: 240px;
        height: 80px;
        background: linear-gradient(to top,rgba(174, 99, 255, 0.5)50%,rgba(169, 99, 255, 0.5)50%);;
        border: none;
        margin-top: 100px;
        margin-left: 30px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s ease;
        font-style: italic ;
    }
    
    
    .menu{


        
        top: 2300px;
        left: 300px;
        
        
    
    }
.les2{

        width: 700px;
        float: left;
        height: 70px;
     }

    .les2 .sub{
      
        padding-left:200px;   
        font-size: 2px;
        font-size: 80px;
    }
.les2 .list{
       
        
        padding-left:200px;
      
    }


    .les1{

        width: 700px;
        float: left;
        height: 30px;
     }

    .les1 .sub{
        
        font-size: 80px;
    }

   
    .list li{
        font-size: 35px;
        
    }

    }
   

  
    
    
    
  









