
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background-image:url(/images/en.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no repeat;
    height: 109vh;
    
  
}

html, body{
    height: 100%;
    /*background: linear-gradient(to top right, #a5b05e,#a76fd0, #5eb4c0, #d46bc1);*/

}



nav{
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5)
}

nav ul{
    position: relative;
    list-style-type: none;
}

nav ul .l {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.85em;
    text-decoration: none;
    text-transform: capitalize;
    color: tomato;
    padding: 10px 30px;
    height: 50px;
    transition: 5s ease;
    border-radius: 0 30px;
}


nav ul li a{
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #39107B;
    padding: 30px 30px;
    height: 50px;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: #39107B;
    color: #000;


}

nav ul ul{
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: #ffc2d1;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}



nav ul  span{
    position: absolute;
    right: 20px;
    font-size: 1.5em;

}

nav ul .dropdown{
    position: relative;
}

nav ul .dropdown:hover > ul{
    display:initial;
}

nav ul .dropdown_two ul{
    position: absolute;
    left: 200px;
    top: 0;
}

nav ul .dropdown_two:hover > ul{
    display: initial;
}

nav ul .pu1 ul{
    top: 0px;
}
nav ul .pu2 ul{
    top: 50px;
}
nav ul .pu3 ul{
    top: 100px;
}
nav ul .pu4 ul{
    top: 50px;
}
nav ul .pu5 ul{
    top: 200px;
}
nav ul .pu6 ul{
    top: 250px;
}nav ul .pu7 ul{
    top: 150px;
}



nav ul .cu1 ul{
    top: 0px;
}
nav ul .cu2 ul{
    top: 50px;
}
nav ul .cu3 ul{
    top: 100px;
}
nav ul .cu4 ul{
    top: 170px;
}
nav ul .cu5 ul{
    top: 250px;
}
nav ul .cu6 ul{
    top: 300px;
}
nav ul .cu7 ul{
    top: 350px;
}
nav ul .bu1 ul{
    top: 0px;
}
nav ul .bu2 ul{
    top: 50px;
}
nav ul .bu3 ul{
    top: 100px;
}
nav ul .bu4 ul{
    top: 170px;
}
nav ul .bu5 ul{
    top: 250px;
}
nav ul .bu6 ul{
    top: 300px;
}
nav ul .bu7 ul{
    top: 350px;
}
nav ul .e1 ul{
    top: 0px;
}
nav ul .e2 ul{
    top: 50px;
}
nav ul .e3 ul{
    top: 130px;
}
nav ul .e4 ul{
    top: 180px;
}
nav ul .e5 ul{
    top: 250px;
}
nav ul .e6 ul{
    top: 300px;
}
nav ul .e7 ul{
    top: 350px;
}


.menu{
   
   
    position: absolute;
    bottom:10px;
    top: 100px;
    left: 1070px;
    border-radius: 10px;
    padding: 25px;

}

.btn{
    width: 240px;
    height: 80px;
    background: linear-gradient(to top,rgba(174, 99, 255, 0.5)50%,rgba(169, 99, 255, 0.5)50%);;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    font-style: italic ;
}

.btn:hover{
    background: #ff33ee;
    color: #5500ff;
}

.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
    .les1{
        width: 550px;
        float: left;
    }

  .les1 .sub{
        padding-top: 50px;
        padding-left:330px;
        color:#7733ff;
        font-size: 25px;
    }
    
    .les1 .list{
       
        padding-top: 2px;
        padding-left:240px;
      
    }

     .les2{
        width: 350px;
        float: left;  
    }
  

      .les2 .sub{
        padding-top: 50px;
        padding-left:50px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les2 .list{
       
        padding-top: 2px;
        padding-left:0px;
      
    }


    .list li{
        list-style: none;
        margin-left: 50px;
        margin-top: 20px;
        font-size: 15px;
        padding-top: 5px;
        text-decoration: none;
        color:#000;
        font-family: Arial;
        font-weight: bold;
    }

   .les3 .sub{
        padding-top: 50px;
        padding-left:0px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les3 .list{
       
        padding-top: 2px;
        padding-left:820px;
      
    }


   .les4 .sub{
        padding-top: 0px;
        padding-left:300px;
        color:#7733ff;
        font-size: 27px;
    }
    
    .les4 .list{
       
        padding-top: 2px;
        padding-left:250px;
      
    }

   @media  screen and (max-width: 700px){
        .main{
            width: 400%;
            background-position: left;
            background-size: 100% 100%;
            background-attachment: fixed;
            height: 700vh;
            
          
        }

        nav{
            width: 250px;
            height:4000px;
            position: absolute;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.1);
            border-radius: 10px;
            box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5)
        }
       

        nav ul li a{
            
            height: 150px;
            font-size:25px;
            
        }
        nav ul .l{
            font-size:50px;
        }
        
        .les3 .sub{
            padding-top: 1000px;
            padding-left:330px;
            font-size: 40px;
        }

        .les4 .sub{
            padding-top: 100px;
            padding-left:280px;
            font-size: 60px;
        }
        
        .les4 .list{
           
            padding-top: 23px;
            padding-left:250px;
           
          
        }
        .les3 .sub{
            padding-top: 1000px;
            padding-left:290px;
            font-size: 60px;
        }
        
        .les3 .list{
           
            padding-top: 23px;
            padding-left:250px;
           
          
        }
        .menu{
   
   
            
            top: 2400px;
            left: 300px;
            
            
        
        }
        .les2{
            width:500px;
        }

        .les2 .sub{
            
            padding-left:180px;
            font-size: 60px;
            
        }
        
        .les2 .list{
           
            padding-top: 1px;
            padding-left:130px;
          
        }
        
        .les1 .sub{
            
            
            font-size: 60px;
        }

        .les1 .list{
           
            padding-top: 1px;
            padding-left:280px;
          
        }
        .list li{
            font-size: 35px;
            
      }    

    }
   

  
    
    
    
  









