<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/1bed6d72d9.js" crossorigin="anonymous"></script>
        <style>
            .main {
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/sub.jpg);
            }
        </style>
    <title>Subjects</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_sub.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    </head>
    <body>
        <script>
        function toggleOptions() {
            var profile = document.querySelector('.log');
            profile.classList.toggle('active');
        }
        </script>
        <div class="main">
            <div class="icon">
            <div class="logo">
            <img src="/images/l1.png" alt=" "/>
            <p class="hed" style="text-align:justify;">Success</p><br>
            </div>
            </div>
            <div class ="navbar">
            
                <div class="men" >
                    <ul>
                        <li><a href="/tsubject"><i class="fa-brands fa-squarespace" title="Switch to Tamil"></i></a></li>
                        <li><a  href="/home">HOME</a></li>
                        
                        <li><a  href="/feedback">FEEDBACK</a></li>
                        <li><a  href="/about">ABOUT</a></li>
                        
                        
                        
                    </ul>
                </div>
                
                
                 <div class="log" onclick="toggleOptions()">
               <img src="/images/p1.jpg" alt="Profile Image">
               <div class="options">
                <a href="/auth/logout">Logout</a>
                </div>
            </div>
               
              
              
               </div>
               
                
                
              
          

            <div class="content">
                
                <p class="par"  >“The goal of mankind is knowledge . . .<br>
                     What man "learns" is really what he discovers by <br>taking the cover off his own soul,
                     <br> which is a mine of infinite knowledge.” <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     <span  style="color:rgb(230, 12, 12);">-Swami Vivekananda</span></p>
    
                   
    
                    
    
            </div>
            <div class="menu" >
            <p class="head">SUBJECT:</p>    
            <button class="btn" ><a  href="/tamil" >தமிழ்</a></button><br>
            <button class="btn" ><a  href="/english" >ENGLISH</a></button><br>
            <button class="btn" ><a  href="/emaths" >MATHEMATICS</a></button><br>
            <button class="btn" ><a  href="/escience" >SCIENCE</a></button><br>
            <button class="btn" ><a  href="/esocial" >SOCIAL SCIENCE</a></button>
        </div>
        </div>
    </body>
