<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
       <title>E-learning website</title>
    <link rel="stylesheet"  href="/css/style_home.css" >
    
</head>
<body>
<div class="main">
        <div class="icon">
            <div class="logo">
            <img src="/images/l1.png" alt=" "/>
            <p class="head" style="text-align:justify;">Success</p><br>
            </div>
            </div>
        
        <div class ="navbar">
            
            <div class="menu" >
                <ul>
                    <li><a  href="/">LOGIN</a></li>
                    <li><a  href="/about">ABOUT</a></li>
					<li><a  href="/feedback">FEEDBACK</a></li>
					 
                    
                    
                    
                </ul>
            </div>
    </div>
<div class="content">
            <br><p class= "par" >WELCOME<br></p>
            <br><p class= "par1">For the benefit of <span style="font-size:100px;">9th</span> std students<br><br></p>
           <div class="new">
            <p>"A Good Education is a foundation for a better future"<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enjoy your learning here!!<br><br>
			</p>
			
			<button class ="block"><a href="mailto:ceg.success.2023@gmail.com">Contact us</a></button>
				
			
			
			
			</div>   
     </div>
</div>
</body>
</html>
           
            
            