<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
       <title>Profile</title>
    <link rel="stylesheet"  href="/css/style_sign.css" >
    
</head>
<body>
    <div class="main">
     <div class="icon">
            <div class="logo">
            <img src="/images/l1.png" alt=" "/>
            <p class="head" style="text-align:justify;">Success</p><br>
            </div>
            </div>
        <div class ="navbar">
            
            <div class="men" >
                <ul>
                    
                    <li><a href="/home">HOME</a></li>
                    
                    <li><a href="/feedback">FAQ</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/auth/logout">LOGOUT</a></li>
                    
                    
                </ul>
            </div>
           
            
            
          
        </div>
        
        
        <div class="content">
            <div class="form-fluid">
                <h2>User Profile</h2>
                <img src="/images/log.jpg" alt="profile" style="width:250px">
                <h3>Name:{{user.NAME}}</h3><br>
                <h3>Medium:{{user.LANGUAGE}}</h3>
                
            </div>

        </div>
    </div>


</body>
</html>