<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
       <title>About</title>
    <link rel="stylesheet"  href="/css/style_about.css" >
    
</head>
<body>
<div class="main">
        <div class="icon">
            <div class="logo">
            <img src="/images/l1.png" alt=" "/>
            <p class="head" style="text-align:justify;">Success</p><br>
            </div>
            </div>
        
        <div class ="navbar">
            
            <div class="menu" >
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/">LOGIN</a></li>
                    <li><a href="/feedback">FEEDBACK</a></li>
                    
                    
                </ul>
            </div>
    </div>
<div class="content">
            <br><p class=par style="color:#922B21;">Live as if you were to die tomorrow.<br>Learn as if you were to live forever.<br><br></p>
           <div class="new">
            <p>Hello everyone,there is something interesting to tell you!<br>We are the team with members of three.We are supposed to do a project for our
            credicts.o we are searching for lot of problems in the society to give a solution.In that way we find that lot of materials are available for public examination students.
            but non public students doesn't have sufficient materials.So we decided to provide materials for 9th standard students to enhance their study in the better way.</p><br>
           <p>At 9th Grade eLearning, we believe in the power of education to transform lives. We are an online platform dedicated to providing high-quality eLearning resources and support specifically tailored to students in the 9th grade. Our goal is to create a dynamic and engaging learning environment that empowers students to succeed academically and beyond.</p><br>
           <p>With this understanding in mind, we have carefully designed our eLearning platform to meet the needs of 9th-grade students. Our comprehensive curriculum covers a wide range of subjects, including Mathematics, Science, English, Social Studies, and more. Each subject is structured to align with the relevant educational standards, ensuring that students receive a well-rounded education.At 9th Grade eLearning, we prioritize student success and holistic development. Alongside academic subjects, we offer additional resources to enhance students' skills in areas such as time management, organization, study techniques, and exam preparation. We aim to equip students with the tools they need not just for academic excellence but also for lifelong learning and personal growth.</p><br><br>
       </div>   
     </div>
</div>
           
            
            