<!DOCTYPE html>
<html>
    <head>
        <style>
        
            .main{
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/sci.jpg);
            }
             #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
        </style>
    <title>அறிவியல்</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_s.css">
    </head>
    <body>
        <div class="main">
            <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="மொழிபெயர்க்க" alt=" "/></a>
            </div>

        <nav>
           
            <ul >
                <li class="l" style="font-size: 25px;">இணைப்புகள்</li>
                <li  class="dropdown"><a href="#">இயற்பியல்<span>&rsaquo;</span></a>
                 <ul >
                    <li class="dropdown_two "><a href="#">அலகு  1<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/i7goiktOryY">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/eR4B4oKjS8Q">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/2d_h4wFCRNA">இணைப்பு 3</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu2"><a href="#">அலகு  2<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/9J4itANSwmo">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/eZ-fcaMfRkE">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu3 "><a href="#">அலகு  3<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/xurQdCqAcgk">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/wj2yw5YNmJ8">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu4"><a href="#">அலகு  4<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/MhuGs8dT8HY">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/2lY4nFEKp74">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu5"><a href="#">அலகு  5<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/O2n02llp24M">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/-Fmq8m00y1Q">இணைப்பு 2</a></li>
                            
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu6"><a href="#">அலகு  6<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/2SPkAaN5dAU">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/BifvJGKSc8M">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu7"><a href="#">அலகு 7<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/Mcv5yHL290w">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/vgjE5osPvjo">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu8"><a href="#">அலகு 8<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/SInrMVCUlBo">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/vvu8USAaRTA">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu9"><a href="#">அலகு 9<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/W4RhYvEU1OQ">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/A4Q8Rzue0Ek">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>
                    
                 </ul>
                 </li>

                 <li class="dropdown"><a href="#">வேதியியல்<span>&rsaquo;</span></a>
                 <ul>
                    <li class="dropdown_two cu1"><a href="#">அலகு 1<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/sK61g0V7QUM">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/OVut0oDUCUw">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two cu2"><a href="#">அலகு 2<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/LotFTHaHfaI">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/WwVWOlq0KVM">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two cu3"><a href="#">அலகு 3<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/p1v0WHxPHz8">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/SZ0KaHNYy4Y">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two cu4"><a href="#">அலகு 4<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/Wy9jPo8MXNw">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/cJw81w2vRa4">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two cu5"><a href="#">அலகு 5<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/9l6sDIklHg0">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/MTjOmHgfUrQ">இணைப்பு 2</a></li>
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two cu6"><a target="_blank" href="https://youtu.be/TxZJTxGJUCk">அலகு 6<span>&rsaquo;</span></a>
                        

                    </li>

                    <li class="dropdown_two cu7"><a href="#">அலகு 7<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/m-_awRH9ZYk">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/ZabBOoC_JFk">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/-uwsvAKMzsY">இணைப்பு 3</a></li>
                            
                            
                         </ul>

                    </li>
                 </ul>
                 </li>
                 <li class="dropdown"><a href="#">உயிரியல்<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two bu1"><a href="#">அலகு 1<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/U6oHkHYM6Lg">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/VoNhyJr8az8">இணைப்பு 2</a></li>
                            
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu2"><a href="#">அலகு 2<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/dDWOTTD3oGA">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/PyCY3aecfPA">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/B5RUP1bLQm4">இணைப்பு 3</a></li>
                            
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu3"><a href="#">அலகு 3<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/cPfUJhKxZdg">இணைப்பு 1</a></li>
                                <li><a target="_blank" href="https://youtu.be/VWRK-39PwL8">இணைப்பு 2</a></li>
                                
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu4"><a href="#">அலகு 4<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/WPZAzGU7XNU">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/0KdzlV5n2gY">இணைப்பு 2</a></li>
                            
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu5"><a href="#">அலகு 5<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/qmEHu6K59eI">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/Nj_n4d3NZV0">இணைப்பு 2</a></li>
                            
                                
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu6"><a href="#">அலகு 6<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/TdZ-pSOvxd4">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/cxsw9PvNLbY">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/cA3oYUY3XxE">இணைப்பு 3</a></li>
                            
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu7"><a href="#">அலகு 7<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/VWRK-39PwL8">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/QbEsu-IQj28">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/DwFLnRDWcmk">இணைப்பு 3</a></li>
                            
                                
                             </ul>
    
                        </li>
    
                        <li class="dropdown_two bu8"><a target="_blank" href="https://youtu.be/cvmfkgtA6Mc">அலகு 8<span>&rsaquo;</span></a>
                            
    
                        </li>
    
                        <li class="dropdown_two bu9"><a href="#">அலகு 9<span>&rsaquo;</span></a>
                            <ul>
                                <li><a target="_blank" href="https://youtu.be/wI5YWR1QtdI">இணைப்பு 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/7eaK9zW7_lU">இணைப்பு 2</a></li>
                            <li><a target="_blank" href="https://youtu.be/DEOH1-BKXMM">இணைப்பு 3</a></li>
                            
                                
                             </ul>
    
                        </li>
                        
                     </ul>
                     </li>  
                    </ul>
                    </li>
                

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">இயற்பியல்</p>
            <ul class="list">
                <li>1.அளவீட</li>
                <li>2.இயக்கம் </li>
                <li>3.பாய்மங்கள் </li>
                <li>4.மின்னூட்டமும்<br><br>&nbsp;&nbsp;&nbsp; மின்னோட்டமும்</li>
                <li>5.காந்தவியல்&nbsp;மற்றும் <br><br>&nbsp;&nbsp;&nbsp;மின்காந்தவியல்</li>
                <li>6.ஒளி</li>
                <li>7.வெப்பம்</li>
                <li>8.ஒலி</li>
                <li>9.அண்டம்</li>
                       
            </ul>
        </div>

        <div class="les2" >
            <p class="sub">வேதியியல்</p>
            <ul class="list">
                <li>1.நம்மைச்&nbsp;சுற்றியுள்ள<br><br>&nbsp;&nbsp;&nbsp;பொருட்கள்</li>
                <li>2.அணு&nbsp;அமைப்பு</li>
                <li>3.தனிமங்களின்&nbsp;வகைப்பாட்டு<br><br>&nbsp;&nbsp;&nbsp; அட்டவணை</li>
                <li>4.வேதிப்பிணைப்பு</li>
                <li>5.அமிலங்கள்,&nbsp;காரங்கள்<br><br>&nbsp;&nbsp;&nbsp; மற்றும்&nbsp;உப்புகள்</li>
                <li>6.கார்பனும்&nbsp;அவற்றின் <br><br>&nbsp;&nbsp;&nbsp;சேர்மங்களும்</li>
                <li>7.பயன்பாட்டு&nbsp;வேதியியல்</li>       
            </ul>
        </div>

        <div class="les3" >
            <p class="sub">உயிரியல்</p>
            <ul class="list">
                <li>1.விலங்குலகம்</li>
                <li>2.திசுக்களின் அமைப்பு</li>
                <li>3.தாவர உலகம் - <br><br>&nbsp;&nbsp;&nbsp;தாவர செயலியல்</li>
                <li>4.விலங்குகளின் உறுப்பு<br><br>&nbsp;&nbsp;&nbsp; மண்டலங்கள்</li>
                <li>5.ஊட்டச்சத்து மற்றும்<br><br>&nbsp;&nbsp;&nbsp; ஆரோக்கியம்</li>
                <li>6.நுண்ணுயிரிகளின்<br><br>&nbsp;&nbsp;&nbsp; உலகம்</li>
                <li>7.பொருளாதார உயிரியல்</li>
                <li>8.சூழ்நிலை அறிவியல்</li>
                <li>9.லிப்ரேஆபீஸ் இம்ப்ரஸ்</li>
                       
            </ul>
        </div>
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/sci_tb.pdf" >புத்தகம்</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/sci_tg.pdf" >வழிகாட்டி</a></button>
        </div>
        
        </div>
    </body>

    
    </html>