<!DOCTYPE html>
<html>
    <head>
        <style>
            .main{
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/sci.jpg);
            }
              #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
        </style>
    <title>Science Menu</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_s.css">
    </head>
    <body>
        <div class="main">
             <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="Translate" alt=" "/></a>
            </div>

        <nav >
           
            <ul >
                <li class="l">LINKS</li>
                <li  class="dropdown"><a href="#">PHYSICS<span>&rsaquo;</span></a>
                 <ul >
                    <li class="dropdown_two pu1"><a target="_blank" href="#">Unit 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t1 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                        
                                    <li><a target="_blank" href="https://youtu.be/i7goiktOryY">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/eR4B4oKjS8Q">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/2d_h4wFCRNA">இணைப்பு 3</a></li>
                            
                                
                                </ul>
                            </li>
                             <li class="dropdown_two e1"><a href="https://youtu.be/48WFonekuLc">English<span>&rsaquo;</span></a> 
                            
                            </li>

                        </ul>
                          

                    </li>

                    <li class="dropdown_two pu2 "><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t2 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/9J4itANSwmo">இணைப்பு 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/eZ-fcaMfRkE">இணைப்பு 2</a></li>
                            
                                
                                </ul>
                            </li>
                             <li class="dropdown_two e1"><a href="https://youtu.be/DHS-U-Hp-Tc">English<span>&rsaquo;</span></a> 
                            
                            </li>

                        </ul>
                          

                    

                    </li>

                    <li class="dropdown_two pu3 "><a target="_blank" href="#">Unit 3<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t3 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/xurQdCqAcgk">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/wj2yw5YNmJ8">இணைப்பு 2</a></li>
                            
                            
                                
                                </ul>
                            </li>
                             <li class="dropdown_two e3"><a href="https://youtu.be/Lrhbh3En8RE">English<span>&rsaquo;</span></a> 
                            
                            </li>

                        </ul>   

                    </li>

                    <li class="dropdown_two pu4"><a href="#">Unit 4<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t4 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/MhuGs8dT8HY">இணைப்பு 1</a></li>
                                     <li><a target="_blank" href="https://youtu.be/2lY4nFEKp74">இணைப்பு 2</a></li>
                            
                            
                            
                                
                                </ul>
                             </li>
                             <li class="dropdown_two e4"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                   <li><a target="_blank" href="https://youtu.be/QKHisvuaCCc">Link 1</a></li>
                                   <li><a target="_blank" href="https://youtu.be/uecqwZCERWo">Link 2</a></li>
                                   <li><a target="_blank" href="https://youtu.be/1EMfjN7B2-0">Link 3</a></li>
                                   <li><a target="_blank" href="https://youtu.be/hqg4mvNwv-Y">Link 4</a></li>
                                   <li><a target="_blank" href="https://youtu.be/tMbc0OVn1Ug">Link 5</a></li>
                                   <li><a target="_blank" href="https://youtu.be/NqR9nV3WwHA">Link 6</a></li>
                                   <li><a target="_blank" href="https://youtu.be/13FqdBMHzlI">Link 7</a></li>
                            
                                </ul>
                            
                            </li>

                        </ul>  

                    </li>

                    <li class="dropdown_two pu5 "><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t5 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/O2n02llp24M">இணைப்பு 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/-Fmq8m00y1Q">இணைப்பு 2</a></li>
                            
                                
                                </ul>
                             </li>
                             <li class="dropdown_two e5"><a href="https://youtu.be/HggyFuMdxDE">English<span>&rsaquo;</span></a> 
                        
                            
                            </li>

                        </ul>    

                    </li>

                    <li class="dropdown_two pu6 "><a target="_blank" href="#">Unit 6<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t6 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/2SPkAaN5dAU">இணைப்பு 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/BifvJGKSc8M">இணைப்பு 2</a></li>
                            
                            
                                
                                </ul>
                             </li>
                             <li class="dropdown_two e6"><a href="https://youtu.be/sLLGFXq1KIc">English<span>&rsaquo;</span></a> 
                        
                            
                            </li>

                        </ul>      

                    </li>

                    <li class="dropdown_two pu7 "><a href="#">Unit 7<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t7 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/Mcv5yHL290w">இணைப்பு 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/vgjE5osPvjo">இணைப்பு 2</a></li>
                            
                            
                            
                                
                                </ul>
                             </li>
                             <li class="dropdown_two e7"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/B0PSgjTiY1I">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/YbtHGZlTkDg">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/tf13iBIk9ic">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/BbScw_Vh2vg">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/QP9elq_QazA">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/7VynnvUkwV8">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/vQI9tVYrj4s">Link 7</a></li>
                                </ul>

                            
                            </li>

                        </ul>     
            

                    </li>

                    <li class="dropdown_two pu8"><a target="_blank" href="#">Unit 8<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t8 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                     <li><a target="_blank" href="https://youtu.be/SInrMVCUlBo">இணைப்பு 1</a></li>
                                     <li><a target="_blank" href="https://youtu.be/vvu8USAaRTA">இணைப்பு 2</a></li>
                                </ul>
                             </li>
                             <li class="dropdown_two e8"><a href="https://youtu.be/GhQVIWTG4kw">English<span>&rsaquo;</span></a> 
                            </li>

                        </ul>     
            

                    </li>

                    <li class="dropdown_two pu9"><a href="#">Unit 9<span>&rsaquo;</span></a>
                         <ul>
                             <li class="dropdown_two t9 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/W4RhYvEU1OQ">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/A4Q8Rzue0Ek">இணைப்பு 2</a></li>
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e9"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                     <li><a target="_blank" href="https://youtu.be/cADXRSWfQ8w">Link 1</a></li>
                                     <li><a target="_blank" href="https://youtu.be/ekOA9d89N5w">Link 2</a></li>
                                     <li><a target="_blank" href="https://youtu.be/AgNPCNLcf2g">Link 3</a></li>
                                     <li><a target="_blank" href="https://youtu.be/PIMiHSl1P9Q">Link 4</a></li>
                                     <li><a target="_blank" href="https://youtu.be/pJYF6W7E07s">Link 5</a></li>
                                     <li><a target="_blank" href="https://youtu.be/TUMh0DaQBKU">Link 6</a></li>
                                </ul> 
                            </li>

                        </ul>     
                        

                    </li>
                    
                 </ul>
                 </li>

                 <li class="dropdown"><a href="#">CHEMISTRY<span>&rsaquo;</span></a>
                 <ul>
                    <li class="dropdown_two cu1"><a href="#">Unit 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t1 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                   <li><a target="_blank" href="https://youtu.be/sK61g0V7QUM">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/OVut0oDUCUw">இணைப்பு 2</a></li>
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e1"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                     <li><a target="_blank" href="https://youtu.be/-2INYdPnvBk">Link 1</a></li>
                                     <li><a target="_blank" href="https://youtu.be/qE67Ox1pteI">Link 2</a></li>
                                     <li><a target="_blank" href="https://youtu.be/95ZLsSUOSl0">Link 3</a></li>
                                     <li><a target="_blank" href="https://youtu.be/wlk7_lJ0BFE">Link 4</a></li>
                                     <li><a target="_blank" href="https://youtu.be/BTq2VT3x-mQ">Link 5</a></li>
                                     <li><a target="_blank" href="https://youtu.be/XTeJFj1zSHo">Link 6</a></li>
                                     <li><a target="_blank" href="https://youtu.be/C6w6Bxi3XN4">Link 7</a></li>
                                     <li><a target="_blank" href="https://youtu.be/IP6sPh-y3Ow">Link 8</a></li>
                                </ul>
                                
                            </li>

                        </ul>     
                        

                
                

                    </li>

                    <li class="dropdown_two cu2"><a href="#">Unit 2<span>&rsaquo;</span></a>
                
                        <ul>
                             <li class="dropdown_two t2 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/LotFTHaHfaI">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/WwVWOlq0KVM">இணைப்பு 2</a></li>
                            
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e2"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/ClCAAfcQrhI">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/0aEcJx6k1MQ">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/WlLeyEAobXY">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/bGZMlGrMbOY">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/f4bJQlymIrk">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/Q0Zl535kQU0">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/cor3WxNJM7w">Link 7</a></li>
                                    <li><a target="_blank" href="https://youtu.be/QQ57c2woOnE">Link 8</a></li>
                                    <li><a target="_blank" href="https://youtu.be/EEFwrmqehs4">Link 9</a></li>
                                     <li><a target="_blank" href="https://youtu.be/C_niCE7PUiI">Link 10</a></li>
                                    
                                </ul>
                                
                            </li>

                        </ul>     
                        
                        

                    </li>

                    <li class="dropdown_two cu3"><a href="#">Unit 3<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t3 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/p1v0WHxPHz8">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/SZ0KaHNYy4Y">இணைப்பு 2</a></li>
                            
                            
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e3"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/lToIFwzzjD8">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/3VUeArTf3eo">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/lfVaH4U8dY0">Link 3</a></li>
                                         <li><a target="_blank" href="https://youtu.be/ASV3ZUoJ6X8">Link 4</a></li>
                                         <li><a target="_blank" href="https://youtu.be/eu9dtbE_Htc">Link 5</a></li>
                                         <li><a target="_blank" href="https://youtu.be/TWm99eMnpZc">Link 6</a></li>
                            
                               
                                    
                                </ul>
                                
                            </li>

                        </ul>     

                     

                    </li>

                    <li class="dropdown_two cu4"><a href="#">Unit 4<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t4 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/Wy9jPo8MXNw">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/cJw81w2vRa4">இணைப்பு 2</a></li>
                            
                            
                            
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e4"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/JLf8j0C5vI0">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/0kU0-bAU35w">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/rMscqa5v3ic">Link 3</a></li>
                                        <li><a target="_blank" href="https://youtu.be/oOdjrlogjL8">Link 4</a></li>
                                         <li><a target="_blank" href="https://youtu.be/fWxnOqE7ndc">Link 5</a></li>
                                        <li><a target="_blank" href="https://youtu.be/7Yg7SA8uXqQ">Link 6</a></li>
                                        <li><a target="_blank" href="https://youtu.be/ZzTGR3wEYjQ">Link 7</a></li> 
                               
                                    
                                </ul>
                                
                            </li>

                        </ul>     

                     
                        

                    </li>

                    <li class="dropdown_two cu5"><a href="#">Unit 5<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t5 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/9l6sDIklHg0">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/MTjOmHgfUrQ">இணைப்பு 2</a></li>
                                </ul>
                             </li>
                             <li class="dropdown_two e5"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/bF0YCg_Y8vU">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/3w7beyCgtYQ">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/j0aG2tvoR4E">Link 3</a></li>
                                        <li><a target="_blank" href="https://youtu.be/qS7Kw7SGdNQ">Link 4</a></li>
                                         <li><a target="_blank" href="https://youtu.be/eR-w7aIlv7I">Link 5</a></li>
                                         <li><a target="_blank" href="https://youtu.be/eR-w7aIlv7I">Link 5</a></li>
                                        <li><a target="_blank" href="https://youtu.be/rgw_dHVle1M">Link 6</a></li>
                                        <li><a target="_blank" href="https://youtu.be/KXgVg0RNqiE">Link 7</a></li>
                                         <li><a target="_blank" href="https://youtu.be/KXgVg0RNqiE">Link 8</a></li>
                                        <li><a target="_blank" href="https://youtu.be/eM0i501nEiU">Link 9</a></li>
                            
                                        
                               
                                    
                                </ul>
                            </li>
                        </ul>
                        

                    </li>

                    <li class="dropdown_two cu6"><a href="#">Unit 6<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t6 "><a href="https://youtu.be/TxZJTxGJUCk">Tamil<span>&rsaquo;</span></a>
                                
                             </li>
                             <li class="dropdown_two e6"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                        <li><a target="_blank" href="https://youtu.be/I0vyDe5PyzM">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/0mPdXyB8RkE">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/VtZIEIJ4uN8">Link 3</a></li>
                                        <li><a target="_blank" href="https://youtu.be/l00igQYs6xc">Link 4</a></li>
                                        <li><a target="_blank" href="https://youtu.be/WPQks7d85ys">Link 5</a></li>
                                        <li><a target="_blank" href="https://youtu.be/38390FCsuJM">Link 6</a></li>
                                        <li><a target="_blank" href="https://youtu.be/iGAQniYWCFo">Link 7</a></li>
                                        <li><a target="_blank" href="https://youtu.be/MFVNMrwU54U">Link 8</a></li>
                                        <li><a target="_blank" href="https://youtu.be/kere6wQ3bBs">Link 9</a></li>
                                        <li><a target="_blank" href="https://youtu.be/uZtDibQD46Q">Link 10</a></li>
                                        <li><a target="_blank" href="https://youtu.be/SdwSylh1G1k">Link 11</a></li>
                                        
                               
                                    
                                </ul>
                            </li>
                        </ul>
                        
                       

                    </li>

                    <li class="dropdown_two cu7"><a href="#">Unit 7<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t7 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                        
                                    <li><a target="_blank" href="https://youtu.be/m-_awRH9ZYk">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/ZabBOoC_JFk">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/-uwsvAKMzsY">இணைப்பு 3</a></li>
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e7"><a href="#">English<span>&rsaquo;</span></a>
                                <ul>
                                         <li><a target="_blank" href="https://youtu.be/IkYAInbzSpQ">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/bIS8aA7d9V8">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/74eFmZCRJog">Link 3</a></li>
                                        <li><a target="_blank" href="https://youtu.be/T7gNEgf-zGU">Link 4</a></li>
                                        <li><a target="_blank" href="https://youtu.be/ntJt-8p-4zE">Link 5</a></li>
                                        <li><a target="_blank" href="https://youtu.be/_wSbEDoKiX8">Link 5</a></li>
                                </ul>
                            
                                        
                               
                                    
                                
                            </li>
                        </ul>
                        
                       

                    </li>
                 </ul>
                 </li>
                 <li class="dropdown"><a href="#">BIOLOGY<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two bu1"><a target="_blank" href="#">Unit 1<span>&rsaquo;</span></a>
                            
                                <ul>
                             <li class="dropdown_two t1 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                       <li><a target="_blank" href="https://youtu.be/U6oHkHYM6Lg">இணைப்பு 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/VoNhyJr8az8">இணைப்பு 2</a></li>
                            
                            
                                </ul>
                             </li>
                             <li class="dropdown_two e1"><a href="https://youtu.be/MHnrIgZVSLI">English<span>&rsaquo;</span></a>
                            </li>
                    </ul>
                        
                 </li>
    
                        <li class="dropdown_two bu2"><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                             <ul>
                        
                                    <li class="dropdown_two t2"><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                                    <li><a target="_blank" href="https://youtu.be/dDWOTTD3oGA">இணைப்பு 1</a></li>
                                                    <li><a target="_blank" href="https://youtu.be/PyCY3aecfPA">இணைப்பு 2</a></li>
                                                    <li><a target="_blank" href="https://youtu.be/B5RUP1bLQm4">இணைப்பு 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e2"><a href="https://youtu.be/HYkprdMfNPg">English<span>&rsaquo;</span></a>
                                    </li>
                            </ul>
                        
                
    
                        </li>
    
                        <li class="dropdown_two bu3"><a target="_blank" href="#">Unit 3<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t3 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                                <li><a target="_blank" href="https://youtu.be/cPfUJhKxZdg">இணைப்பு 1</a></li>
                                                <li><a target="_blank" href="https://youtu.be/VWRK-39PwL8">இணைப்பு 2</a></li>
                                
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e3"><a href="https://youtu.be/upFPdEtYW4s">English<span>&rsaquo;</span></a>
                                    </li>
                            </ul>   
    
                        </li>
    
                        <li class="dropdown_two bu4"><a href="#">Unit 4<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t4 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                            <li><a target="_blank" href="https://youtu.be/WPZAzGU7XNU">இணைப்பு 1</a></li>
                                             <li><a target="_blank" href="https://youtu.be/0KdzlV5n2gY">இணைப்பு 2</a></li>
                            
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e4"><a href="#">English<span>&rsaquo;</span></a>
                                        <ul>
                                            <li><a target="_blank" href="https://youtu.be/PT9EBQCkC54">Link 1</a></li>
                                            <li><a target="_blank" href="https://youtu.be/GcWrLsddf58">Link 2</a></li>
                                            <li><a target="_blank" href="https://youtu.be/LyrJhZZU5Ek">Link 3</a></li>
                                            <li><a target="_blank" href="https://youtu.be/I8wCrWRvxso">Link 4</a></li>
                                             <li><a target="_blank" href="https://youtu.be/VcFG_ls-zQs">Link 5</a></li>
                                             <li><a target="_blank" href="https://youtu.be/J7xMYVPL8NQ">Link 6</a></li>
                                             <li><a target="_blank" href="https://youtu.be/0Wx2X_ULbX4">Link 7</a></li>
                                        </ul>
    
                                    </li>
                            </ul>   
                            
                        </li>
    
                        <li class="dropdown_two bu5"><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t5 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                            <li><a target="_blank" href="https://youtu.be/qmEHu6K59eI">இணைப்பு 1</a></li>
                                            <li><a target="_blank" href="https://youtu.be/Nj_n4d3NZV0">இணைப்பு 2</a></li>
                            
                            
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e5"><a href="https://youtu.be/LkSQvAXtz44">English<span>&rsaquo;</span></a>
                                        
    
                                    </li>
                            </ul>     
    
                        </li>
    
                        <li class="dropdown_two bu6"><a href="#">Unit 6<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t6 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                                 <li><a target="_blank" href="https://youtu.be/TdZ-pSOvxd4">இணைப்பு 1</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/cxsw9PvNLbY">இணைப்பு 2</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/cA3oYUY3XxE">இணைப்பு 3</a></li>
                            
                            
                            
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e6"><a href="#">English<span>&rsaquo;</span></a>
                                        
                                        <ul>
                                            <li><a target="_blank" href="https://youtu.be/-K3y8fm62qA">Link 1</a></li>
                                            <li><a target="_blank" href="https://youtu.be/kR1X35gmEWs">Link 2</a></li>
                                            <li><a target="_blank" href="https://youtu.be/mnpU-B1AaJc">Link 3</a></li>
                                            <li><a target="_blank" href="https://youtu.be/cLmDWGU800g">Link 4</a></li>
                                            <li><a target="_blank" href="https://youtu.be/3_z9k97fpS8">Link 5</a></li>
                                            <li><a target="_blank" href="https://youtu.be/FUi5te0l4n0">Link 6</a></li>
                                            <li><a target="_blank" href="https://youtu.be/MWJM-pPWnA4">Link 7</a></li>
                                            <li><a target="_blank" href="https://youtu.be/YaqZ4duIMLQ">Link 8</a></li>
                                            <li><a target="_blank" href="https://youtu.be/Gs9unIl49MA">Link 9</a></li>
                                            <li><a target="_blank"  href="https://youtu.be/bcmgwLbHujQ">Link 10</a></li>
                                            <li><a target="_blank" href="https://youtu.be/DEOH1-BKXMM">Link 11</a></li>
                                         </ul>
                                    </li>
                            </ul> 
                           
    
                        </li>
    
                        <li class="dropdown_two bu7"><a href="#">Unit 7<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t7 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                                <li><a target="_blank" href="https://youtu.be/VWRK-39PwL8">இணைப்பு 1</a></li>
                                                <li><a target="_blank" href="https://youtu.be/QbEsu-IQj28">இணைப்பு 2</a></li>
                                                <li><a target="_blank" href="https://youtu.be/DwFLnRDWcmk">இணைப்பு 3</a></li>
                            
                            
                            
                            
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e7"><a href="#">English<span>&rsaquo;</span></a>
                                        
                                        
                                        <ul>
                                                 <li><a target="_blank" href="https://youtu.be/L7rE-8olFh0">Link 1</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/rUCS556jALo">Link 2</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/k3vkH0_a5S4">Link 3</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/PeBS8JrHJ0g">Link 4</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/Dc1su7Nylwc">Link 5</a></li>
                                                <li><a target="_blank" href="https://youtu.be/RouTVkcnxBE">Link 6</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/_zDYWvZAJEo">Link 7</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/zQFhFgkYWw0">Link 8</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/Zti8Sd3qp10">Link 9</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/rYrYyFiMajs">Link 10</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/t0LU_51k7Ko">Link 11</a></li>
                                                <li><a target="_blank" href="https://youtu.be/z9Yc2TBlr_8">Link 12</a></li>
                                
                                
                            
                                         </ul>
                                    </li>
                            </ul> 
                           
                           
                        
    
                        </li>
    
                        <li class="dropdown_two bu8"><a href="#">Unit 8<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t8 "><a href="https://youtu.be/cvmfkgtA6Mc">Tamil<span>&rsaquo;</span></a>
                                         <ul>
                                                
                            
                            
                            
                            
                                        </ul>
                                    </li>
                                    <li class="dropdown_two e8"><a href="#">English<span>&rsaquo;</span></a>
                                        
                                        
                                        <ul>
                                                 <li><a target="_blank" href="https://youtu.be/38IyBULDayk">Link 1</a></li>
                                                <li><a target="_blank" href="https://youtu.be/WQzvmAIbcHs">Link 2</a></li>
                                                <li><a target="_blank" href="https://youtu.be/zIieXpHgfwc">Link 3</a></li>
                                                <li><a target="_blank" href="https://youtu.be/B1wkr-ROYJY">Link 4</a></li>
                                                <li><a target="_blank" href="https://youtu.be/RUQiAUp6QcM">Link 5</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/V22C3k2AfRw">Link 6</a></li>
                                                <li><a target="_blank" href="https://youtu.be/vIYl7BQvmVQ">Link 7</a></li>
                                                 <li><a target="_blank" href="https://youtu.be/qN5Xcs6zwNI">Link 8</a></li>
                                      
                                
                                
                            
                                         </ul>
                                    </li>
                            </ul> 
                           
    
                        </li>
    
                        <li class="dropdown_two bu9"><a target="_blank" href="#">Unit 9<span>&rsaquo;</span></a>
                            <ul>
                        
                                    <li class="dropdown_two t9 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                    <ul>
                                         <li><a target="_blank" href="https://youtu.be/wI5YWR1QtdI">இணைப்பு 1</a></li>
                                         <li><a target="_blank" href="https://youtu.be/7eaK9zW7_lU">இணைப்பு 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/DEOH1-BKXMM">இணைப்பு 3</a></li>
                                    </ul>
                            
                                    </li>
                                    <li class="dropdown_two e9"><a href="https://youtu.be/DEOH1-BKXMM">English<span>&rsaquo;</span></a>
                                        
                                        
                                    
                                    </li>
                            </ul> 
                           
    
                        </li>
                        
                     </ul>
                     </li>  
                    </ul>
                    </li>
                

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">PHYSICS</p>
            <ul class="list">
                <li>1.Measurement</li>
                <li>2.Motion</li>
                <li>3.Fluids</li>
                <li>4.Electric&nbsp;charge&nbsp;and<br> <br>&nbsp;&nbsp;&nbsp;Electric&nbsp;current</li>
                <li>5.Magnetism&nbsp;and<br><br>&nbsp;&nbsp;&nbsp; Electromagnetism</li>
                <li>6.Light</li>
                <li>7.Heat</li>
                <li>8.Sound</li>
                <li>9.Universe</li>
                       
            </ul>
        </div>

        <div class="les2" >
            <p class="sub">CHEMISTRY</p>
            <ul class="list">
                <li>1.Matter&nbsp;Around&nbsp;Us</li>
                <li>2.Atomic&nbsp;Structure</li>
                <li>3.Periodic&nbsp;Classification <br> <br>&nbsp;&nbsp;&nbsp;of&nbsp;Elements</li>
                <li>4.Chemical&nbsp;Bonding</li>
                <li>5.Acids,Bases&nbsp;and&nbsp;Salts</li>
                <li>6.Carbon&nbsp;and&nbsp;its&nbsp;Compounds</li>
                <li>7.Applied&nbsp;Chemistry</li>       
            </ul>
        </div>

        <div class="les3" >
            <p class="sub">BIOLOGY</p>
            <ul class="list">
                <li>1.Animal&nbsp;Kingdom</li>
                <li>2.Organisation&nbsp;of&nbsp;Tissue</li>
                <li>3.Plant&nbsp;Physiology</li>
                <li>4.Organ&nbsp;Systems<br> <br>&nbsp;&nbsp;&nbsp;in&nbsp;Animals</li>
                <li>5.Nutrition&nbsp;and<br> <br>&nbsp;&nbsp;&nbsp;Health</li>
                <li>6.World&nbsp;of&nbsp;Microbes</li>
                <li>7.Economic&nbsp;Biology</li>
                <li>8.Environmental&nbsp;Science</li>
                <li>9.Libre&nbsp;Office&nbsp;Impress</li>
                       
            </ul>
        </div>
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/sci_eb.pdf" >BOOK</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/sci_eg.pdf" >GUIDE</a></button>
        </div>
        
        </div>
    </body>

    
    </html>