<!DOCTYPE html>
<html>
    <head>
        <style>
            .main{
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/tam.jpg);
            }
             #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
        </style>
        
    <title>தமிழ்</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_t.css">
    </head>
    <body style="background-image:url('bg.jpg');">
        <div class="main">
            <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="மொழிபெயர்க்க" alt=" "/></a>
            </div>

        <nav>
           
            <ul >
                <li class="l" >இணைப்புகள்</li>
                <li  class="dropdown"><a href="#">உரைநடை உலகம்<span>&rsaquo;</span></a>
                 <ul >
                    <li class="dropdown_two pu1"><a target="_blank" href="https://youtu.be/Ihnb1KQ5kQA">அலகு 1<span>&rsaquo;</span></a>

                    </li>

                    <li class="dropdown_two pu2"><a href="#">அலகு 2<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank"  href="https://youtu.be/wzQIJV4kSoc">இணைப்பு 1</a></li>
                            <li><a target="_blank"  href="https://youtu.be/f1boRpJae-w">இணைப்பு 2</a></li>
                           
                           
                            
                            
                         </ul>

                    </li>

                    <li class="dropdown_two pu3 "><a target="_blank" href="https://youtu.be/s1D9JgqbA5U">அலகு 3<span>&rsaquo;</span></a>
                     

                    </li>

                    <li class="dropdown_two pu4"><a target="_blank"  href="https://youtu.be/qk5Gwqbguvk">அலகு 4<span>&rsaquo;</span></a>

                    </li>

                    <li class="dropdown_two pu5"><a target="_blank"  href="https://youtu.be/7P9BHwC8QTw">அலகு 5<span>&rsaquo;</span></a>
                      

                    </li>

                    <li class="dropdown_two pu6"><a target="_blank"  href="https://youtu.be/XUMxk3afva8">அலகு 6<span>&rsaquo;</span></a>

                    </li>

                    <li class="dropdown_two pu7"><a target="_blank"  href="https://youtu.be/sY0IyjzlAag">அலகு 7<span>&rsaquo;</span></a>
                        

                    </li>

                    <li class="dropdown_two pu8"><a target="_blank"  href="https://youtu.be/g2jgN9K5Kvs">அலகு 8<span>&rsaquo;</span></a>

                    </li>

                    <li class="dropdown_two pu9"><a target="_blank"  href="https://youtu.be/zuJnOQxX0D4">அலகு 9<span>&rsaquo;</span></a>

                    </li>
                  
                    
                 </ul>
                 </li>

                 <li class="dropdown"><a  href="#">கவிதைப் பேழை<span>&rsaquo;</span></a>
                 <ul>
                    <li class="dropdown_two cu1"><a href="#">அலகு 1<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f1"><a target="_blank"  href="https://youtu.be/Hm20MwH2scQ">தமிழோவியம் <span>&rsaquo;</span></a>
				            </li>
							
							<li class="dropdown_two f1"><a target="_blank"  href="https://youtu.be/vs8mlQh1qK8">தமிழ்விடு தூது <span>&rsaquo;</span></a>
							</li>
						</ul>

                    </li>
							
					
                       
                    </li>

                    <li class="dropdown_two cu2"><a href="#">அலகு 2<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f2"><a target="_blank"  href="https://youtu.be/YrlN3hvb5VA">பட்டமரம்<span>&rsaquo;</span></a>
					
				            </li>
							
							<li class="dropdown_two f2"><a target="_blank"  href="https://youtu.be/_mdOBjI0RQ8"> பெரியபுராணம் <span>&rsaquo;</span></a>
				
				            </li>
							
							<li class="dropdown_two f2"><a target="_blank"  href="https://youtu.be/EE-cseqGDpE">புறநானூறு<span>&rsaquo;</span></a>
				            </li>
						</ul>
                        
                    </li>

                    <li class="dropdown_two cu3"><a   href="#">அலகு 3<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f3"><a target="_blank"  href="https://youtu.be/iobroucSTCs">மணிமேகலை<span>&rsaquo;</span></a>
	
				            </li>
							
							<li class="dropdown_two f3"><a target="_blank"  href="https://youtu.be/lxmG8uEOVoo">திருக்குறள்<span>&rsaquo;</span></a>
							
						</ul>
                      
                    </li>

                    <li class="dropdown_two cu4"><a href="#">அலகு 4<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f4"><a target="_blank"  href="https://youtu.be/o6lb3iHhycw">ஓ, என் சமகாலத் தோழர்களே! <span>&rsaquo;</span></a>
						
				            </li>
							
							<li class="dropdown_two f4"><a target="_blank"  href="https://youtu.be/EHkRQinyXPE"> உயிர்வகை<span>&rsaquo;</span></a>
								
							
						</ul>
                       
                    </li>

                    <li class="dropdown_two cu5"><a href="#">அலகு 5<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f5 "><a target="_blank"  href="https://youtu.be/QEw8OHA5-24">குடும்ப விளக்கு <span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f5"><a target="_blank" href="https://youtu.be/Tbk_3QGFc_M">சிறுபஞ்சமூலம்<span>&rsaquo;</span></a>
							</li>
							
						</ul>
                       
                    </li>

                    <li class="dropdown_two cu6"><a href="#">அலகு 6<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f6"><a target="_blank" href="https://youtu.be/FE9FYV7ThM4">இராவண காவியம்<span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f6"><a target="_blank" href="https://youtu.be/UTwiZipZBpU">நாச்சியார் திருமொழி<span>&rsaquo;</span></a>
				            </li>
							
							<li class="dropdown_two f6"><a target="_blank" href="https://youtu.be/pw-hPbRcxyE">திருக்குறள் <span>&rsaquo;</span></a>
				            </li>
						</ul>

						
                        
                    </li>

                    <li class="dropdown_two cu7"><a href="#">அலகு 7<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f7"><a target="_blank"  href="https://youtu.be/Dg-HiU2Itu0">சீவக சிந்தாமணி <span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f7"><a target="_blank"  href="https://youtu.be/XGaZ_q1EzVs">முத்தொள்ளாயிரம் <span>&rsaquo;</span></a>
								
				            </li>
							
							<li class="dropdown_two f7"><a target="_blank"  href="https://youtu.be/pT5LvYzOwx0">மதுரைக்காஞ்சி<span>&rsaquo;</span></a>
	
				            </li>
						</ul>

                        
                    </li>
                 <li class="dropdown_two cu8"><a href="#">அலகு 8<span>&rsaquo;</span></a>
					<ul>
							<li class="dropdown_two f8"><a target="_blank"  href="https://youtu.be/bZjoQ1Dety4">ஒளியின் அழைப்பு<span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f8"><a target="_blank"  href="https://youtu.be/dPuV9o0G5FM">தாவோ தே ஜிங்<span>&rsaquo;</span></a>
							</li>
								
							<li class="dropdown_two f8"><a target="_blank"  href="https://youtu.be/0sDtLadrnrU">யசோதர காவியம் <span>&rsaquo;</span></a>
							</li>
							
						</ul>
                        
                 </li>
				 
				 <li class="dropdown_two cu9"><a href="#">அலகு 9<span>&rsaquo;</span></a>
						<ul>
							<li class="dropdown_two f9"><a target="_blank"  href="https://youtu.be/i6VPWfgh-Z4">அக்கறை <span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f9"><a target="_blank"  href="https://youtu.be/JAcazrexUe4">குறுந்தொகை <span>&rsaquo;</span></a>
							
				            </li>
							
							<li class="dropdown_two f9"><a target="_blank"  href="#">திருக்குறள்<span>&rsaquo;</span></a>
								<ul>
									<li><a target="_blank"  href="https://youtu.be/B6rauhtOFEk">இணைப்பு 1</a></li>
									<li><a target="_blank"  href="https://youtu.be/rNJvo1KEnQQ">இணைப்பு 2</a></li>
									<li><a target="_blank"  href="https://youtu.be/e86DETckEhw">இணைப்பு 3</a></li>
						
                            
                           
								</ul>
				            </li>
						</ul>

                        
                    </li>
                 </ul>
                 </li>
                 <li class="dropdown"><a href="#">விரிவானம்<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two bu1"><a target="_blank" href="https://youtu.be/NchOLgGmb-Q">அலகு 1<span>&rsaquo;</span></a>

                       
                        </li>
    
                        <li class="dropdown_two bu2"><a target="_blank"  href="https://youtu.be/oqQ3-7V-Er4">அலகு 2<span>&rsaquo;</span></a>
						

                            
                        </li>
    
                        <li class="dropdown_two bu3"><a target="_blank"  href="https://youtu.be/NWIjoSSZQDs">அலகு 3<span>&rsaquo;</span></a>
						

                        </li>
    
                        <li class="dropdown_two bu4"><a target="_blank"  href="https://youtu.be/wslfzdP9iyE">அலகு 4<span>&rsaquo;</span></a>

                        </li>
    
                        <li class="dropdown_two bu5"><a target="_blank"  href="https://youtu.be/lhwMMwyX-FI">அலகு 5<span>&rsaquo;</span></a>
							
                           
                        </li>
    
                        <li class="dropdown_two bu6"><a target="_blank"  href="https://youtu.be/rvLoSLhOHH8">அலகு 6<span>&rsaquo;</span></a>
						
                          
                        </li>
						
						<li class="dropdown_two bu7"><a target="_blank"  href="https://youtu.be/hQmpc6UabJI">அலகு 7<span>&rsaquo;</span></a>
					
                          
                        </li>
						<li class="dropdown_two bu8"><a target="_blank"  href="https://youtu.be/KTOyqy5--9c">அலகு 8<span>&rsaquo;</span></a>

                          
                        </li>
						
						<li class="dropdown_two bu9"><a target="_blank"  href="https://youtu.be/lxrftqCPhJg">அலகு 9<span>&rsaquo;</span></a>
                          
                        </li>
                     </ul>
                     </li>
                      <li class="dropdown"><a href="#">இலக்கணம் <span>&rsaquo;</span></a>
                        <ul>
                        <li class="dropdown_two e1"><a target="_blank"  href="https://youtu.be/VsePV4Ns7MI">அலகு 1<span>&rsaquo;</span></a>
                        </li>
    
                        <li class="dropdown_two e2"><a target="_blank"  href="https://youtu.be/51sKBgS3yYc">அலகு 2<span>&rsaquo;</span></a>

                        </li>
    
                        <li class="dropdown_two e3"><a target="_blank"  href="https://youtu.be/3r8hprwkjBg">அலகு 3<span>&rsaquo;</span></a>
						

                        </li>
    
                        <li class="dropdown_two e4"><a  target="_blank" href="https://youtu.be/ebdqqHq_cFo">அலகு 4<span>&rsaquo;</span></a>

                        </li>
    
                        <li class="dropdown_two e5"><a target="_blank"  href="https://youtu.be/o0mX3vD9564">அலகு 5<span>&rsaquo;</span></a>
                           
                        </li>
    
                        <li class="dropdown_two e6"><a target="_blank"  href="https://youtu.be/Xk5Uppy01oo">அலகு 6<span>&rsaquo;</span></a>
                          
                        </li>
						
						<li class="dropdown_two e7"><a target="_blank"  href="https://youtu.be/cV_n002s9JI">அலகு 7<span>&rsaquo;</span></a>
					
                          
                        </li>
						<li class="dropdown_two e8"><a target="_blank"  href="https://youtu.be/mlCS4h1-2Ko">அலகு 8<span>&rsaquo;</span></a>
						
                          
                        </li>
						
						<li class="dropdown_two e9"><a  target="_blank" href="https://youtu.be/CcRZb5vkkxk">அலகு 9<span>&rsaquo;</span></a>
			
                          
                        </li>
                     </ul>
                    </li>
                

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">உரைநடை உலகம்</p>
            <ul class="list">
                <li>1.திராவிட மொழிக்குடும்பம்</li>
                <li>2.நீரின்றி அமையாது உலகு</li>
                <li>3.ஏறு தழுவுதல்  </li>
                <li>4.இயந்திரங்களும் இணையவழிப் பயன்பாடும்</li>
                <li>5.கல்வியில் சிறந்த பெண்கள்</li>
                <li>6.சிற்பக்கலை</li>
                <li>7.இந்திய தேசிய இராணுவத்தில் தமிழர் பங்கு</li>
                <li>8.பெரியாரின் சிந்தனைகள் </li>
                <li>9.விரிவாகும் ஆளுமை </li>
                       
            </ul>
        </div>

        <div class="les2" >
            <p class="sub">கவிதைப் பேழை</p>
            <ul class="list">
                <li>1.தமிழோவியம் <br> தமிழ்விடு தூது </li>
                <li>2.பட்டமரம் <br>பெரியபுராணம் <br>புறநானூறு</li>
                <li>3.மணிமேகலை<br>திருக்குறள்</li>
                <li>4.ஓ, என் சமகாலத் தோழர்களே! <br>உயிர்வகை*</li>
                <li>5.குடும்ப விளக்கு <br>சிறுபஞ்சமூலம் *</li>
                <li>6.இராவண காவியம் <br>நாச்சியார் திருமொழி<br>திருக்குறள்</li>
                <li>7.சீவக சிந்தாமணி <br> முத்தொள்ளாயிரம் <br>மதுரைக்காஞ்சி</li> 
                <li>8.ஒளியின் அழைப்பு<br> தாவோ தே ஜிங் <br>யசோதர காவியம்</li> 
                <li>அக்கறை <br>குறுந்தொகை<br>திருக்குறள்</li>		
            </ul>
        </div>

        <div class="les3" >
            <p class="sub">விரிவானம்</p>
            <ul class="list">
                <li>1.வளரும் செல்வம்</li>
                <li>2.தண்ணீர்</li>
                <li>3.அகழாய்வுகள்</li>
                <li>4.விண்ணையும் சாடுவோம்</li>
                <li>5.வீட்டிற்கோர் புத்தகசாலை</li>
                <li>6.செய்தி</li>
				<li>7.சந்தை</li>
				<li>8.மகனுக்கு எழுதிய கடிதம்</li>
				<li>9.தாய்மைக்கு வறட்சி இல்லை!</li>
				
               
            </ul>
        </div>
        <div class="les4" >
            <p class="sub">இலக்கணம் </p>
            <ul class="list">
                <li>1.தொடர் இலக்கணம்</li>
                <li>2.துணைவினைகள் </li>
                <li>3.வல்லினம் மிகும் இடங்கள்</li>
                <li>4.வல்லினம் மிகா இடங்கள் </li>
                <li>5.இடைச்சொல் – உரிச்சொல்</li>
				<li>6.புணர்ச்சி</li>
				<li>7.ஆகுபெயர்</li>
				<li>8.யாப்பிலக்கணம்</li>
				<li>9.அணியிலக்கணம்</li>
               
            </ul>
        </div>
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/Tam_b.pdf" >புத்தகம்</a></button><br><br><br><br><br>
            <button class="btn" ><a  target="_blank" href="/book/Tam_g.pdf" >வழிகாட்டி</a></button>
        </div>
        
        </div>
    </body>

    
    </html>