<!DOCTYPE html>
<html>
    <head>
        <style>
            .main {
                background: linear-gradient(to top,rgba(14, 227, 22, 0)50%,rgba(149, 226, 42, 0)50%),url(/images/math.jpg);
            }
              #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
            
        </style>
    <title>Maths Menu</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_menu.css">
    </head>
    <body>
        <div class="main">
            <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="Translate" alt=" "/></a>
            </div>

        <nav >
           
            <ul >
                <li class="l">LINKS</li>
                <li  class="dropdown"><a target="_blank" href="#">Unit 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                        </ul>
                 </li>

                 <li  class="dropdown"><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                        </ul> 
                </li>

                 
                <li  class="dropdown"><a target="_blank" href="#">Unit 3<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul> 
                </li>
                        
                <li  class="dropdown"><a target="_blank" href="#">Unit 4<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>          
                </li>
                            
                            
                <li  class="dropdown"><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                   
                </li>
               
                <li  class="dropdown"><a target="_blank" href="#">Unit 6<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                      
                </li>
               
                                
                <li  class="dropdown"><a target="_blank" href="#">Unit 7<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                          
                </li>
                                       
                <li  class="dropdown"><a target="_blank" href="#">Unit 8<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                                 
                </li>

                <li  class="dropdown"><a target="_blank" href="#">Unit 9<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                             
                </li>

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">MATHEMATICS</p>
            <ul class="list">
                <li>1.Set&nbsp;Language</li>
                <li>2.Real&nbsp;Numbers</li>
                <li>3.Algebra</li>
                <li>4.Geometry</li>
                <li>5.Coordinate&nbsp;Geometry</li>
                <li>6.Trignometry</li>
                <li>7.Mensuration</li>
                <li>8.Statistics</li>
                <li>9.Probability</li>
                       
            </ul>
        </div>

       

      
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/math_eb.pdf" >BOOK</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/math_eg.pdf" >GUIDE</a></button>
        </div>
        
        </div>
    </body>

    
    </html>