<!DOCTYPE html>
<html>
    <head>
        <style>
            .main {
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/math.jpg);
            }
              #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
        </style>
    <title>கணக்கு</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_menu.css">
    </head>
    <body>
        <div class="main">
            <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="Translate" alt=" "/></a>
            </div>

        <nav >
           
            <ul >
                <li class="l" style="font-size:25px;">இணைப்புகள்</li>
                    <li  class="dropdown"><a target="_blank" href="#">அலகு 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                        </ul>
                 </li>

                 <li  class="dropdown"><a target="_blank" href="#">அலகு 2<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href=="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                        </ul> 
                </li>

                 
                <li  class="dropdown"><a target="_blank" href="#">அலகு 3<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href=="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul> 
                </li>
                        
                <li  class="dropdown"><a target="_blank" href="#">அலகு 4<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href=="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>          
                </li>
                            
                            
                <li  class="dropdown"><a target="_blank" href="#">அலகு 5<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href=="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                   
                </li>
               
                <li  class="dropdown"><a target="_blank" href="#">அலகு 6<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                      
                </li>
               
                                
                <li  class="dropdown"><a target="_blank" href="#">அலகு 7<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                          
                </li>
                                       
                <li  class="dropdown"><a target="_blank" href="#">அலகு 8<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                                 
                </li>

                <li  class="dropdown"><a target="_blank" href="#">அலகு 9<span>&rsaquo;</span></a>
                    <ul>
                             <li class="dropdown_two pu1"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">English<span>&rsaquo;</span></a></li> 
                    </ul>                             
                </li>

                
            </ul>    
        </nav>
        <div class="les1" >
            <p class="sub">கணக்கு</p>
            <ul class="list">
                <li>1.கண&nbsp;மொழி </li>
                <li>2.மெய்யெண்கள்</li>
                <li>3.இயற்கணிதம் </li>
                <li>4.வடிவியல்</li>
                <li>5.ஆயத்தொலை&nbsp;வடிவியல் </li>
                <li>6.முக்கோணவியல்</li>
                <li>7.அளவியல்</li>
                <li>8.புள்ளியியல்</li>
                <li>9.நிகழ்தகவு </li>
                       
            </ul>
        </div>

       

      
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/math_tb.pdf" >  புத்தகம்</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/math_tg.pdf" >வழிகாட்டி</a></button>
        </div>
        
        </div>
    </body>

    
    </html>