<!DOCTYPE html>
<html>
    <head>
        <style>
            .main{
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/en.jpg);
            }
        </style>
    <title>English menu</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_e.css">
    </head>
    <body>
        <div class="main">

        <nav >
           
            <ul >
                <li class="l">LINKS</li>
                <li  class="dropdown"><a href="#">PROSE<span>&rsaquo;</span></a>
                 <ul >
                    <li class="dropdown_two "><a target="_blank" href="https://youtu.be/xkmJ4gMKvx8">Unit 1<span>&rsaquo;</span></a>
						
                    </li>

                    <li class="dropdown_two pu2"><a target="_blank" href="https://youtu.be/magbQcCZyMo">Unit 2<span>&rsaquo;</span></a>
                       
                    </li>

                    <li class="dropdown_two pu3 "><a target="_blank" href="https://youtu.be/bLjaFSpxZQ4">Unit 3<span>&rsaquo;</span></a>
                       
                    </li>

                    <li class="dropdown_two pu4"><a target="_blank" href="https://youtu.be/l9nA6Q5Pd8w">Unit 4<span>&rsaquo;</span></a>
                        
                    </li>

                    <li class="dropdown_two pu5"><a href="#">Unit 5<span>&rsaquo;</span></a>
                        <ul>
                            <li><a target="_blank" href="https://youtu.be/Vehrv5-vW4s">Link 1</a></li>
                            <li><a target="_blank" href="https://youtu.be/4FZ8lzJ2bF4">Link 2</a></li>
                            
                        </ul>

                    </li>

                    <li class="dropdown_two pu6"><a target="_blank" href="https://youtu.be/0qPCAHq9Z_U">Unit 6<span>&rsaquo;</span></a>
                       
                    </li>

                    <li class="dropdown_two pu7"><a target="_blank" href="https://youtu.be/xWq60PkE9mI">Unit 7<span>&rsaquo;</span></a>
                       
                    </li>
                    
                 </ul>
                 </li>

                 <li class="dropdown"><a href="#">POEM<span>&rsaquo;</span></a>
                 <ul>
                    <li class="dropdown_two cu1"><a target="_blank" href="https://youtu.be/SJX4Ss0ffpU">Unit 1<span>&rsaquo;</span></a>
			
                    </li>

                    <li class="dropdown_two cu2"><a  target="_blank" href="https://youtu.be/-CZYce0mo_g">Unit 2<span>&rsaquo;</span></a>
			
                    </li>

                    <li class="dropdown_two cu3"><a target="_blank" href="https://youtu.be/H3rFN8P_ZKA">Unit 3<span>&rsaquo;</span></a>
                    </li>

                    <li class="dropdown_two cu4"><a target="_blank" href="https://youtu.be/yNnbEwd_w4A">Unit 4<span>&rsaquo;</span></a>
                        
                    </li>

                    <li class="dropdown_two cu5"><a target="_blank" href="https://youtu.be/OWvwiZNrMi8">Unit 5<span>&rsaquo;</span></a>
			
                    </li>

                    <li class="dropdown_two cu6"><a target="_blank" href="https://youtu.be/qbsPY6INQqg">Unit 6<span>&rsaquo;</span></a>
                    </li>
                  <li class="dropdown_two cu7"><a target="_blank" href="https://youtu.be/JNT_SAVYMU8">Unit 7<span>&rsaquo;</span></a>
                    </li>

                    
                 </ul>
                 </li>
                 <li class="dropdown"><a href="#">SUPPLEMENTARY<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two bu1"><a target="_blank" href="https://youtu.be/K56-qecg3yE">Unit 1<span>&rsaquo;</span></a>
                        </li>
    
                        <li class="dropdown_two bu2"><a target="_blank" href="https://youtu.be/Go4mNaqRsoI">Unit 2<span>&rsaquo;</span></a>
				
                        </li>
    
                        <li class="dropdown_two bu3"><a target="_blank" href="https://youtu.be/Twr_F3Lx-eE">Unit 3<span>&rsaquo;</span></a>
                           
                        </li>
    
                        <li class="dropdown_two bu4"><a target="_blank" href="https://youtu.be/Ocq37CjtPMw">Unit 4<span>&rsaquo;</span></a>
                        </li>
    
                        <li class="dropdown_two bu5"><a target="_blank" href="https://youtu.be/dL__wGPN1kY">Unit 5<span>&rsaquo;</span></a>
					
    
                        </li>
    
                        <li class="dropdown_two bu6"><a target="_blank" href="https://youtu.be/EfQlaWRDvmE">Unit 6<span>&rsaquo;</span></a>
                         
                        </li>
						
						<li class="dropdown_two bu7"><a target="_blank" href="https://youtu.be/gM7IBU_JWcI">Unit 7<span>&rsaquo;</span></a>
					
                        </li>
                    </ul>
                    </li>
                      <li class="dropdown"><a href="#">GRAMMAR<span>&rsaquo;</span></a>
					  <ul>
                        <li class="dropdown_two e1"><a target="_blank" href="https://youtu.be/KQ2FogxYo6o">Unit 1<span>&rsaquo;</span></a>
							
                        </li>
    
                        <li class="dropdown_two e2"><a target="_blank" href="https://youtu.be/Zb-bs2ee1Kw">Unit 2<span>&rsaquo;</span></a>
							
                        </li>
    
                        <li class="dropdown_two e3"><a target="_blank" href="https://youtu.be/oe5nYN-O5MQ">Unit 3<span>&rsaquo;</span></a>
							
                          
                        </li>
    
                        <li class="dropdown_two e4"><a target="_blank" href="https://youtu.be/njMSxjT0i9o">Unit 4<span>&rsaquo;</span></a>
							
                        </li>
                         
						<li class="dropdown_two e5"><a target="_blank" href="https://youtu.be/4mybEKgkfeI">Unit 5<span>&rsaquo;</span></a>
							
						</li>
						
						<li class="dropdown_two e6"><a target="_blank" href="https://youtu.be/nUQInfX8yAs">Unit 6<span>&rsaquo;</span></a>
							
                          
						</li>
						
						<li class="dropdown_two e7"><a target="_blank" href="https://youtu.be/h-vFHgQQM0Q">Unit 7<span>&rsaquo;</span></a>
							
                          
						</li>
					   
                        
                     </ul>
                     </li>  
                    </ul>
                    </li>
                

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">PROSE</p>
            <ul class="list">
                <li>1.Learning the Game</li>
                <li>2.I can't Climb Trees Anymore</li>
                <li>3.Old Man River</li>
                <li>4.Seventeen Oranges</li>
                <li>5.Water - The Elixir of Life</li>
                <li>6.From Zero to Infinity</li>
                <li>7.A Birthday Letter</li>
            
                       
            </ul>
        </div>

        <div class="les2" >
            <p class="sub">POEM</p>
            <ul class="list">
                <li>1.Stopping by Woods on<br> a Snowy Evening</li>
                <li>2.A Poison Tree </li>
                <li>3.On Killing a Tree</li>
                <li>4.The Spider and the Fly</li>
                <li>5.The River</li>
                <li>6.The Comet</li>
                <li>7.The Stick-together Families</li> 
              
            </ul>
        </div>

        <div class="les3" >
            <p class="sub">SUPPLEMENTARY</p>
            <ul class="list">
                <li>1.The Envious Neighbour</li>
                <li>2.The Fun They Had</li>
                <li>3.Earthquake</li>
                <li>4.The Cat and the Painkiller</li>
                <li>5.Little Cyclone: The Story of<br> a Grizzly Club</li>
                <li>6.Mother's Voice</li>
				<li>7.The Christmas Truce</li>
               
            </ul>
        </div>
        <div class="les4" >
            <p class="sub">GRAMMAR</p>
            <ul class="list">
                <li>1.Preposition Prepositional verbs</li>
                <li>2.Degrees of Comparison</li>
                <li>3.Clauses Phrases Non-Finite Verbs</li>
                <li>4.Phrasal verbs Modals Uses of Auxiliary verbs</li>
                <li>5.Tenses</li>
		<li>6.Connectors Active and Passive voice</li>
                <li>7.Determiners Reported Speech</li><br><br>
             </ul>
        </div>
        
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/Eng_b.pdf" >BOOK</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/Eng_g.pdf" >GUIDE</a></button>
        </div>
        
        </div>
    </body>

    
    </html>