<!DOCTYPE html>
<html>
    <head>
        <style>
            .main{
                background: linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)50%),url(/images/ss.jpg);
            }
               #content{
                position:relative;
            }
            #content img{
                position:absolute;
                top:20px;
                right:20px;
            }
        </style>
    <title>Social Science Menu</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_ss.css">
    </head>
    <body>
        <div class="main">
             <div id="content">
            <a href="/trans"><img   style="width:50px;"src="/images/translate.png" title="Translate" alt=" "/></a>
            </div>

        <nav >
           
            <ul >
                <li class="l">LINKS</li>
                <li  class="dropdown"><a href="#">HISTORY<span>&rsaquo;</span></a>
                 <ul >
                    <li class="dropdown_two pu1 "><a href="#">Unit 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t1 "><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                        
                                    <li><a target="_blank" href="https://youtu.be/1hpAgO_nu18">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/AexSZgZ-YQ8">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/q2F4scQeF1U">இணைப்பு 3</a></li>
                                
                                </ul>
                            </li>
                             <li class="dropdown_two e1"><a href="https://youtu.be/KQaHXOfJXNQ">English<span>&rsaquo;</span></a> 
                            
                            </li>

                        </ul>
                        
                    </li>

                    <li class="dropdown_two pu2 "><a href="#">Unit 2<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t2"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/vLB7kHVBViY">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/FmUZscZeU0I">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/Z47pDe9y4j8">இணைப்பு 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/o9xcGDvorwM">இணைப்பு 4</a></li>
                                </ul>
                            </li>
                             <li class="dropdown_two e2"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/LlgPN80MgP8">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/rbLk6Bv3F0Q">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/cD6oTlnp-7U">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/wod-3VhfOi8">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/jO1ZtbRU6w8">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/_50UKqn9N9A">Link 6</a></li>

                                </ul>
                             </li>
                        </ul>

                        

                    </li>

                    <li class="dropdown_two pu3 "><a href="#">Unit 3<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t3"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/y8FNX2ICliU">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/nbx1tgFEufk">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/5xS_8W9QuNU">இணைப்பு 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/RXjXlj3gZGQ">இணைப்பு 4</a></li>
                            
                                </ul>
                            </li>
                             <li class="dropdown_two e3"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/3XHWcvkGltU">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/0_fq5hAfypQ">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/reNuS2oeRvU">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/BpNf-dJ1nq8">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/Rx_sTHtIfYU">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/9nAX8Zc6Tl4">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/BmustCzleKg">Link 7</a></li>
                                    <li><a target="_blank" href="https://youtu.be/vzOtOwBhrdA">Link 8</a></li>
                                    <li><a target="_blank" href="https://youtu.be/v3Q7r9Os-aw">Link 9</a></li>
                                    <li><a target="_blank" href="https://youtu.be/LCmM_GIviTg">Link 10</a></li>
                                    <li><a target="_blank" href="https://youtu.be/XKs0NevJuA0">Link 11</a></li>
                                    <li><a target="_blank" href="https://youtu.be/qEG7pCGTkkY">Link 12</a></li>

                                    
                                </ul>
                            </li>
                        </ul>

                    </li>

                    <li class="dropdown_two pu4"><a href="#">Unit 4<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t4"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/tjnqdKXxjC8">இணைப்பு 1</a></li>
                                     <li><a target="_blank" href="https://youtu.be/PQhE-FEl5s0">இணைப்பு 2</a></li>
                                     <li><a target="_blank" href="https://youtu.be/HEgidpHi_CM">இணைப்பு 3</a></li>
                                </ul>
                            </li>
                             <li class="dropdown_two e4"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/qEG7pCGTkkY">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/LJ26b8PcvrM">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/7EdkE9BwpTk">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/GaH_pklqgzo">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/8u0UeWhIXdc">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/NxUCjr2hUTQ">Link 6</a></li> 
                                    <li><a target="_blank" href="https://youtu.be/L19FSbNETfc">Link 7</a></li>
                                    <li><a target="_blank" href="https://youtu.be/_tdm-Rrqcaw">Link 8</a></li>
                                    <li><a target="_blank" href="https://youtu.be/gZstByMyNnQ">Link 9</a></li>
                                    <li><a target="_blank" href="https://youtu.be/FWEji2cAVhM">Link 10</a></li>

                                </ul>
                            </li>
                        </ul>
                    

                    </li>

                    <li class="dropdown_two pu5"><a href="#">Unit 5<span>&rsaquo;</span></a>
                        <ul>
                            <li class="dropdown_two t5"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                           
                                    <li><a target="_blank" href="https://youtu.be/iLpylGjXtJ8">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/5MXaoWTPW-4">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/r7ng0cLkVWo">இணைப்பு 3</a></li>
                           
                                </ul>
                            </li>
                             <li class="dropdown_two e5"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/JRmJfF7ZCs0">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/oeo274tHDSE">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/HlwUai1xmZQ">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/x74r_lS2RrY">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/SHdve1sEgfQ">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/cVEftzHYtJs">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/vTzYs-rQHuc">Link 7</a></li>
                                    
                                    
                                </ul>
                            </li>
                        </ul>
                

                    </li>

                    <li class="dropdown_two pu6"><a href="#">Unit 6<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t6"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/aB7MF7cZiew">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/x1S1VZuJRhM">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/G7Bq3P3BpYE">இணைப்பு 3</a></li>
                            
                            
                                </ul>
                            </li>
                             <li class="dropdown_two e6"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/oMZXkoZGMH4">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/SaqKAr9_m1g">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/1knI0I78qz0">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/9Clz-UA_xc8">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/MTWwiod1MhA">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/Xmbe6GgVCsU">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/greceVzmg1s">Link 7</a></li>
                            
                                    
                                    
                                </ul>
                            </li>
                        </ul>
                        
                        

                    </li>

                    <li class="dropdown_two pu7"><a href="#">Unit 7<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t7"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/as4063KE4GY">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/BVfPV7ZsHws">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/BVfPV7ZsHws">இணைப்பு 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/2sQni1dy_O4">இணைப்பு 4</a></li>
                            
                                    
                            
                                </ul>
                            </li>
                             <li class="dropdown_two e7"><a href="#">English<span>&rsaquo;</span></a> 
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/IpJ0wLqlQAo">Link 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/gp3-xVMWh-I">Link 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/atiLR2tXrq0">Link 3</a></li>
                                    <li><a target="_blank" href="https://youtu.be/w73_xDueUlc">Link 4</a></li>
                                    <li><a target="_blank" href="https://youtu.be/ScwhkHiPot0">Link 5</a></li>
                                    <li><a target="_blank" href="https://youtu.be/G6tYAq2WSX0">Link 6</a></li>
                                    <li><a target="_blank" href="https://youtu.be/yDHAW0ZQoaQ">Link 7</a></li>
                                    <li><a target="_blank" href="https://youtu.be/8z51u9z632U">Link 8</a></li>
                                    <li><a target="_blank" href="https://youtu.be/1lWalE7Jsmc">Link 9</a></li>
                            
                                    
                                </ul>
                            </li>
                        </ul>
                        
                    </li>

                    <li class="dropdown_two pu8"><a target="_blank" href="#">Unit 8<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t8"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/YcNSKYvGTgc">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/CYV1kkmWbMI">இணைப்பு 2</a></li>
                                    <li><a target="_blank" href="https://youtu.be/QevT6zxC42c">இணைப்பு 3</a></li>
                                </ul>
                            </li>
                             <li class="dropdown_two e8"><a href="https://youtube.com/playlist?list=PL-x365jTHTiVePHc91Egm01AamR1YAvMm">English<span>&rsaquo;</span></a></li>
                        </ul> 
                    </li>

                    <li class="dropdown_two pu9"><a target="_blank" href="#">Unit 9<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t9"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/DECzKiI5mgo">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/D__CI8umHzQ">இணைப்பு 2</a></li>
                           
                                </ul>
                            </li>
                             <li class="dropdown_two e9"><a href="https://youtube.com/playlist?list=PLhQtjR9GVw7bZzECK6GuvCnS4gzca0xt5">English<span>&rsaquo;</span></a></li> 
                        </ul>
                    </li>
                  <li class="dropdown_two pu10"><a target="_blank" href="https://youtube.com/watch?v=nb5m5biQjss&feature=share">Unit 10<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t10"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/DECzKiI5mgo">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/D__CI8umHzQ">இணைப்பு 2</a></li>
                           
                                </ul>
                            </li>
                             <li class="dropdown_two e10"><a href="https://youtube.com/playlist?list=PLhQtjR9GVw7bZzECK6GuvCnS4gzca0xt5">English<span>&rsaquo;</span></a></li>
                        </ul> 
                  </li>     
                   <li class="dropdown_two pu11"><a target="_blank" href="https://youtu.be/L4YFd5pSPsA">Unit 11<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two t111"><a href="#">Tamil<span>&rsaquo;</span></a>
                                <ul>
                                    <li><a target="_blank" href="https://youtu.be/DECzKiI5mgo">இணைப்பு 1</a></li>
                                    <li><a target="_blank" href="https://youtu.be/D__CI8umHzQ">இணைப்பு 2</a></li>
                           
                                </ul>
                            </li>
                             <li class="dropdown_two t11"><a href="https://youtu.be/L4YFd5pSPsA">English<span>&rsaquo;</span></a></li> 
                        </ul>
                    
                    </li>
                    
                 </ul>
                 </li>

                 <li class="dropdown"><a href="#">GEOGRAPHY<span>&rsaquo;</span></a>
                 <ul>
                    <li class="dropdown_two cu1"><a target="_blank" href="#">Unit 1<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/ZkQ8QqTvY6o">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtube.com/playlist?list=PLCIRwhzSnH4dZ9jBziBZwExYB2iEAdULp">English<span>&rsaquo;</span></a></li> 
                        </ul>
                     
                    </li>

                    <li class="dropdown_two cu2"><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/XQxi8m12rDA">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/sUnTKWOeSzU">English<span>&rsaquo;</span></a></li> 
                        </ul>  
                    </li>

                    <li class="dropdown_two cu3"><a target="_blank" href="#">Unit 3<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/5m_rJ00T48M">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/F1vy1_Y-DOY">English<span>&rsaquo;</span></a></li> 
                        </ul>    
                    </li>

                    <li class="dropdown_two cu4"><a target="_blank" href="#">Unit 4<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/2O2Yco0BGEY">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/5mMIdyeiK2A">English<span>&rsaquo;</span></a></li> 
                        </ul>       
                    </li>

                    <li class="dropdown_two cu5"><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/0LrD-WfPBDI">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/fq9xbn6ITTY">English<span>&rsaquo;</span></a></li> 
                        </ul>   
                    </li>

                    <li class="dropdown_two cu6"><a target="_blank" href="#">Unit 6<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/Vo0q7JOgZjA">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/RGxEeelZ0Bw">English<span>&rsaquo;</span></a></li> 
                        </ul>     
                    </li>

                    <li class="dropdown_two cu7"><a target="_blank" href="#">Unit 7<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/of0nx0GBwIc">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/KY1KcH_pm7w">English<span>&rsaquo;</span></a></li> 
                        </ul>  
                    </li>
                 <li class="dropdown_two cu8"><a target="_blank" href="#">Unit 8<span>&rsaquo;</span></a>
                        <ul>
                             <li class="dropdown_two pu1"><a href="https://youtu.be/3xI5xjlTxNk">Tamil<span>&rsaquo;</span></a>
                                
                            </li>
                             <li class="dropdown_two pu2"><a href="https://youtu.be/aMdFd3U_6vw">English<span>&rsaquo;</span></a></li> 
                        </ul> 
                 </li>
                 </ul>
                 </li>
                 <li class="dropdown"><a href="#">CIVICS<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two bu1"><a href="#">Unit 1<span>&rsaquo;</span></a>
                            <ul>
                                <li class="dropdown_two pu1"><a href="https://youtu.be/BklyMKL26Qg">Tamil<span>&rsaquo;</span></a>
                                
                                </li>
                                <li class="dropdown_two pu2"><a href="#">English<span>&rsaquo;</span></a>
                                    <ul>
                                        <li><a target="_blank" href="https://youtu.be/aTrJm8Pknbk">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/1vZS8dduUF4">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/g9tGT0cENIY">Link 3</a></li>
                                
                                
                                    </ul>
    
                                </li> 
                            </ul>
                        </li>
                    
                
    
                        <li class="dropdown_two bu2"><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                            <ul>
                                <li class="dropdown_two pu1"><a href="https://youtu.be/wyghB2HhA_Y">Tamil<span>&rsaquo;</span></a>
                                </li>
                                <li class="dropdown_two pu2"><a href="https://youtu.be/qOrQ23HB5pw">English<span>&rsaquo;</span></a>
                                </li> 
                                
                            </ul> 
                
      
                        </li>
    
                        <li class="dropdown_two bu3"><a href="#">Unit 3<span>&rsaquo;</span></a>
                            <ul>
                                <li class="dropdown_two t3"><a href="https://youtu.be/_Odu_OzaUZw">Tamil<span>&rsaquo;</span></a>
                                
                                </li>
                                <li class="dropdown_two e3"><a href="#">English<span>&rsaquo;</span></a>
                                    <ul>
                                        <li><a target="_blank" href="https://youtu.be/-dca9y2xFUs">Link 1</a></li>
                                        <li><a target="_blank" href="https://youtu.be/Qjn0EkLka18">Link 2</a></li>
                                        <li><a target="_blank" href="https://youtu.be/H3l2roREzfc">Link 3</a></li>
                                    </ul>
    
                                </li> 
                            </ul>
                         </li>
    
                        <li class="dropdown_two bu4"><a target="_blank" href="#">Unit 4<span>&rsaquo;</span></a>
                            <ul>
                                <li class="dropdown_two pu1"><a href="https://youtu.be/3SO4Tc5XNx8">Tamil<span>&rsaquo;</span></a>
                                
                                 </li>
                                <li class="dropdown_two pu2"><a href="https://youtu.be/VKe6skFdqBU">English<span>&rsaquo;</span></a>
                                
    
                                </li> 
                                
                            </ul> 
                 
                        </li>
    
                        <li class="dropdown_two bu5"><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                            <ul>
                                <li class="dropdown_two pu1"><a href="https://youtu.be/nexdcBouflk">Tamil<span>&rsaquo;</span></a>
                                
                                </li>
                                <li class="dropdown_two pu2"><a href="https://youtu.be/Zt6TB1MgKYE">English<span>&rsaquo;</span></a>
                                
    
                                </li> 
                                
                            </ul> 
                        </li>
    
                        <li class="dropdown_two bu6"><a target="_blank" href="#">Unit 6<span>&rsaquo;</span></a>
                            <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/eHowM5Hjoyg">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/b42mDGFsayw">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul> 
                        </li>
                     </ul>
                     </li>

                    <li class="dropdown"><a href="#">ECONOMICS<span>&rsaquo;</span></a>
                    <ul>
                        <li class="dropdown_two e1"><a target="_blank" href="#">Unit 1<span>&rsaquo;</span></a>
                            <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/hYTuWiBD1VM">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/4rmnWfWJWb8">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul> 
                        </li>
    
                        <li class="dropdown_two e2"><a target="_blank" href="#">Unit 2<span>&rsaquo;</span></a>
                             <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/QK6yFPIJwJ4">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/gGGO5iDAiTo">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul> 
                        </li>
    
                        <li class="dropdown_two e3"><a target="_blank" href="#">Unit 3<span>&rsaquo;</span></a>
                            <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/6eB5wtUcRT4">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/3rrUmuaeDBg">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul>   
                        </li>
    
                        <li class="dropdown_two e4"><a target="_blank" href="#">Unit 4<span>&rsaquo;</span></a>
                            <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/nWBinDDT8UU">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/sRXWuq32-Q0">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul> 
                        </li>
                     <li class="dropdown_two e5"><a target="_blank" href="#">Unit 5<span>&rsaquo;</span></a>
                            <ul>
                                        <li class="dropdown_two pu1"><a href="https://youtu.be/FGNQLP7xTCY">Tamil<span>&rsaquo;</span></a>
                                
                                        </li>
                                        <li class="dropdown_two pu2"><a href="https://youtu.be/T8lGa8q-0Tw">English<span>&rsaquo;</span></a>
                                
    
                                        </li> 
                                
                            </ul>    
                    </li>
                        
                     </ul>
                     </li>  
                    </ul>
                    </li>
                

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">HISTORY</p>
            <ul class="list">
                <li>1.Evolution of Humans<br>and Society - Prehistoric Period</li>
                <li>2.Ancient Civilisations</li>
                <li>3.Early Tamil Society<br>and Culture</li>
                <li>4.Intellectual Awakening and<br>Socio-Political Changes</li>
                <li>5.The Classical World</li>
                <li>6.The Middle Ages </li>
                <li>7.State and Society<br>in Medieval India</li>
                <li>8.The Beginning of<br>the Modern Age</li>
                <li>9.The Age of Revolutions </li>
                <li>10.Industrial Revolution</li>
                <li>11.Colonialism in Asia<br>and Africa  </li>
                       
            </ul>
        </div>

        <div class="les2" >
            <p class="sub">GEOGRAPHY</p>
            <ul class="list">
                <li>1.Lithosphere – I <br>Endogenetic Processes</li>
                <li>2.Lithosphere – II<br>Exogenetic Processes </li>
                <li>3.Atmosphere</li>
                <li>4.Hydrosphere</li>
                <li>5.Biosphere</li>
                <li>6.Man and Environment</li>
                <li>7.Mapping Skills</li> 
                <li>8.Disaster Management:<br>Responding to Disasters </li>   
            </ul>
        </div>

        <div class="les3" >
            <p class="sub">CIVICS</p>
            <ul class="list">
                <li>1.Forms of Government<br>and Democracy</li>
                <li>2.Election, Political Parties<br>and Pressure Groups</li>
                <li>3.Human Rights</li>
                <li>4.Forms of Government</li>
                <li>5.Local Self Government</li>
                <li>6.Road safety</li>
               
            </ul>
        </div>
        <div class="les4" >
            <p class="sub">ECONOMICS</p>
            <ul class="list">
                <li>1.Understanding Development:<br>Perspectives, Measurement<br>and Sustainability</li>
                <li>2.Employment in India<br>and Tamil Nadu</li>
                <li>3.Money and CREDIT</li>
                <li>4.Agriculture in Tamil Nadu</li>
                <li>5.Migration</li>
               
            </ul>
        </div>
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/em_ssbook.pdf" >BOOK</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/em_ssguide.pdf" >GUIDE</a></button>
        </div>
        
        </div>
    </body>

    
    </html>